<section class="hero">
  <div class="hero-content">
    <div class="text-content">
      <h1>Share Your Code</h1>
      <p>Discuss the CodeLib platform & Code learning topics – this includes sharing feedback, asking questions, and more.</p>
      <a class="cta-button" (click)="onShareYourCodeClick()">Share Your Code</a>
    </div>
    <div class="image-content">
      <img src="discussion.png" alt="Coding Image">
    </div>
  </div>
</section>

<div class="list-container">
  <h2 class="heading">Public Code Snippets</h2>
  <ng-container *ngIf="items.length === 0; else itemList">
    <div class="no-data">No data available</div>
  </ng-container>
  <ng-template #itemList>
    <div class="item-list">
      <div *ngFor="let item of items; trackBy: trackById" class="snippet-card">
        <div class="card-header">
          <img src="ss.png" alt="User Icon" class="user-icon"/>
          <div class="user-details">
            <div class="user-name">{{ item.name }}</div>
            <div class="item-title">{{ item.title }}</div>
            <div class="item-date">{{ item.createdAt | date: 'mediumDate' }}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="item-description">{{ item.description | slice:0:100 }}...</div>
        </div>
        <div class="card-footer">
          <button [routerLink]="['/snippet', item.id]" class="view-button">View Snippet</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Backdrop for closing the form -->
<div class="backdrop" *ngIf="isCommunityFormVisible" (click)="closeCommunityForm()"></div>

<!-- Community Form -->
<div class="community-form-container" *ngIf="isCommunityFormVisible" (click)="$event.stopPropagation()">
  <button class="close-button" (click)="closeCommunityForm()">×</button>
  <app-community></app-community>
</div>


<!-- Custom Alert -->
<app-custom-alert [message]="alertMessage" [show]="showAlert"></app-custom-alert>