// Base styles for the container
.snippet-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 15px;
    margin: 15px;
  }

  // Styling for the title
  h3 {
    font-size: 26px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
  }

  // Styling for the description
  .description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }

  // Styling for each code block container
  div {
    position: relative; // Set relative positioning for the button positioning
    margin-bottom: 20px;
    
    // Styling for the code block title
    h4 {
      font-size: 22px;
      font-weight: 500;
      color: #444;
      margin-bottom: 10px;
    }

    // Code block container styling
    pre {
      position: relative; // Ensure the button container is positioned relative to this element
      font-family: 'Fira Code', 'Courier New', Courier, monospace;
      font-size: 16px;
      background-color: #1e1e1e;
      color: #dcdcdc;
      padding: 20px;
      border-radius: 6px;
      overflow-x: auto;
      white-space: pre-wrap;
      line-height: 1.6;

      // Styling for inline code
      code {
        color: #dcdcdc;
      }

      // Button styling within the code block
      .copy-button-container {
        position: absolute;
        top: 1px;
        right: 15px;
        z-index: 10; // Ensure button is above the code block
        // background: rgba(0, 0, 0, 0.6); // Slightly transparent dark background for better visibility

        button {
          background-color: #333; // Dark background similar to the code block
          border: 1px solid #444; // Slightly lighter border to differentiate the button
          color: #dcdcdc; // Light color for text
          padding: 8px 12px;
          border-radius: 4px;
          cursor: pointer;
          // font-size: 14px;
          transition: background-color 0.3s ease, border-color 0.3s ease;

          &:hover {
            background-color: #555; // Slightly lighter on hover
            border-color: #666; // Lighter border color on hover
          }
        }
      }
    }
  }
}

// Responsive adjustments for the copy button
@media (max-width: 768px) {
  .snippet-container {
    div {
      .copy-button-container {
        button {
          padding: 6px 10px;
          font-size: 12px;
        }
      }
    }
  }
}

